/* global syles */
body {
  background-color: #f44336;
}
h1,
h2 {
  text-align: center;
  font-family: 'Flamenco', cursive;
}
h1 {
  font-size: 72px;
}
li {
  display: inline-block;
}
/*header */
label {
  color: #ffff8d;
}
header li {
  margin: 0 10px;
}
header li:first-of-type footer a {
  font-size: 64px;
  color: #ffff8d;
}
