/* 
primary: #f44336
p-light: #ff7961
p-dark: #ba000d
secondary: #ffff8d
s-light: #ffffbf
p-light: #cacc5d 
*/
/* global syles */

body{
    background-color: #f44336;

}

h1,
h2 {
    text-align: center;
    font-family: 'Flamenco', cursive;
}

h1{font-size: 72px;
}

li {
    display: inline-block;
}

/*header */


header li {
    margin:0 10px;
}

header li:first-of-type

/*footer styles*/

footer a {
    font-size: 64px;
    
}
